<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
<insert id="insertUserRegist">
Insert Into user (	userId,userPass,userName,userNick,userMail,userTel,userBirth,userGender
					,userAddr1,userAddr2,userAgree1,userAgree2
					)
			values ( #{userId},#{userPass},#{userName},#{userNick},#{userMail},#{userTel},#{userBirth},#{userGender}
					,#{userAddr1},#{userAddr2},#{userAgree1},#{userAgree2}
					)

</insert>
<select id="selectUserLogin" resultType="int">
Select Count(userId)
From user
where 1=1
	and userId=#{userId}
	and userPass=#{userPass}
</select>

<insert id="insertUserProduct">
Insert into product(title,type,price,content,location,writer)
	values(#{title},#{type},#{price},#{content},#{location},#{writer})
</insert>

<insert id="insertUserFile">
Insert into productFile(productNo, productOriginFileName,productStoredFileName,productFileSize,productWriter)
	values ( (SELECT IFNULL((SELECT max(productNo)+1),1) From product) ,#{productOriginFileName},#{productStoredFileName},#{productFileSize},#{productWriter})
</insert>

<select id="selectProductList" resultType="com.dailyMarket.www.vo.ProductVO">
SELECT rnum,productNo,title,type,price,content,location,writer,hitCnt,likeCnt,regDate,modDate,delDate,deleteYn,productStoredFileName
FROM (
	SELECT 
		 p.productNo,p.title,p.type,p.price,p.content,p.location,p.writer,p.hitCnt,p.likeCnt,p.regDate,p.modDate,p.delDate,p.deleteYn,
		 f.productStoredFileName
		 ,ROW_NUMBER() OVER (ORDER BY productNo DESC ) AS rnum
	FROM product p
	LEFT OUTER JOIN productFile f
	ON p.productNo = f.productNo
	WHERE 1=1
) R
WHERE 1=1
	AND deleteYn ='N'
	GROUP BY productNo
ORDER BY productNo DESC 
LIMIT #{startRow},12
</select>

<select id="selectProductDetail" resultType="com.dailyMarket.www.vo.ProductVO">
SELECT 
	 p.productNo,p.title,p.type,p.price,p.content,p.location,p.writer,p.hitCnt,p.likeCnt,p.regDate,p.modDate,p.delDate,p.deleteYn,
	 f.productStoredFileName
FROM product p
LEFT OUTER JOIN productFile f
	ON p.productNo = f.productNo
WHERE 1=1
	AND p.productNo =#{productNo}
	AND p.deleteYn ='N'
</select>

<select id="selectBusiList" resultType="com.dailyMarket.www.vo.BusiVO">
SELECT a.busiNo,a.busiNum,a.writer,a.ownerName,a.busiTel,a.busiName,a.busiType1,a.busiType2,a.busiType3,a.storeTel
		,a.storeAddr,a.storeAddrDetail,a.agreeYn,a.state,a.homepage,a.introduce,a.regDate,a.modDate,a.delDate,a.deleteYn,a.title
		,b.storedFileName
FROM busi a
INNER JOIN storeFile b
ON a.busiNo = b.busiNo
WHERE 1=1
	AND a.deleteYn='N'
	AND b.fileNo =  a.busiNo
</select>
<select id="selectByBusiNo" resultType="com.dailyMarket.www.vo.BusiVO">
SELECT busiNo,busiNum,writer,ownerName,busiTel,busiName,busiType1,busiType2,busiType3,storeTel,storeAddr,storeAddrDetail,introduce,homePage,agreeYn,state
		,regDate,modDate,delDate,deleteYn,title
FROM busi
WHERE 1=1
	AND busiNo= #{busiNo}
</select>

<select id="selectStoreList" resultType="com.dailyMarket.www.vo.StoreFileVO">
SELECT fileNo,busiNo,originFileName,storedFileName,fileSize,writer,regDate,modDate,delDate,deleteYn
FROM storeFile
WHERE 1=1
 AND busiNo = #{busiNo}
</select>

<select id="selectMenuList" resultType="com.dailyMarket.www.vo.MenuVO">
SELECT a.menuNo,a.busiNo,a.name,a.price,a.count,a.content,a.deleveryYn,a.deleveryPrice,a.regDate,a.modDate,a.delDate,a.deleteYn
		,b.fileNo,b.menuNo,b.originFileName,b.storedFileName,b.fileSize,b.fileSize,b.writer,b.regDate,b.modDate,b.delDate,b.deleteYn
FROM menu a
INNER JOIN menufile b
ON a.menuNo = b.menuNo
WHERE busiNo = #{busiNo}
and a.deleteYn='N'
</select>


<insert id="insertEstateOne">
INSERT INTO estate(esWriter,esHumType,esRoomType,esLoc,esLocDetail,esLocContent)
	VALUES (#{esWriter}, #{esHumType},#{esRoomType},#{esLoc},#{esLocDetail},#{esLocContent})
</insert>
<insert id="insertEstateFile">
Insert Into estateFile (esNo ,originFileName ,storedFileName ,fileSize ,writer )
		Values ( (SELECT IFNULL(max(esNo)+1,1) FROM estate  )  ,#{originFileName},#{storedFileName},#{fileSize},#{writer})
</insert>
<update id="updateEstateTwo">
UPDATE estate SET esTradeType =#{esTradeType} , esPrice =#{esPrice}, esPosiType =#{esPosiType}
				, esSize1 =#{esSize1}, esSize2 =#{esSize2}, esOption1 =#{esOption1}, esOption2 =#{esOption2}
				, esOption3 =#{esOption3}, esCostYn =#{esCostYn}, esCostChk =#{esCostChk}, esSeperCostChk =#{esSeperCostChk}
				, esCostContent =#{esCostContent}
				,modDate = now()
</update>
<update id="updateEstateThree">
UPDATE estate SET esLoanYn = #{esLoanYn},esAnimalYn = #{esAnimalYn},esParkingYn = #{esParkingYn}
				 ,esMoveYn = #{esMoveYn},esMoveDate = #{esMoveDate}
				 ,esFacility = #{esFacility},esAdvantage = #{esAdvantage},esHouseIntro = #{esHouseIntro}
				 ,modDate = now()
</update>

<select id="selectEstateList" resultType="com.dailyMarket.www.vo.EstateVO">
SELECT esNo,esHumType,esRoomType,esLoc,esLocDetail,esLocContent,esTradeType,esPrice,esPosiType,esTradeYn
		,esSize1,esSize2,esOption1,esOption2,esOption3,esCostYn,esCost,esCostChk,esSeperCostChk,esCostContent
		,esLoanYn,esAnimalYn,esParkingYn,esMoveYn,esMoveDate,esFacility,esAdvantage,esHouseIntro,regDate,modDate,delDate,deleteYn
FROM estate
WHERE 1=1
	AND deleteYn='N'
</select>
<select id="selectEstateFile" resultType="com.dailyMarket.www.vo.EstateFileVO">
SELECT fileNo,esNo,originFileName,storedFileName,fileSize,writer,regDate,modDate,delDate,deleteYn
FROM estatefile
WHERE 1=1
	AND deleteYn='N'
</select>
<select id="selectEstateDetail" resultType="com.dailyMarket.www.vo.EstateVO">
SELECT esNo,esHumType,esRoomType,esLoc,esLocDetail,esLocContent,esTradeType,esPrice,esPosiType,esTradeYn
		,esSize1,esSize2,esOption1,esOption2,esOption3,esCostYn,esCost,esCostChk,esSeperCostChk,esCostContent
		,esLoanYn,esAnimalYn,esParkingYn,esMoveYn,esMoveDate,esFacility,esAdvantage,esHouseIntro,regDate,modDate,delDate,deleteYn
FROM estate
WHERE 1=1
	AND deleteYn='N'
	AND esNo=#{esNo}
</select>
<select id="selectEstateFileDetail" resultType="com.dailyMarket.www.vo.EstateFileVO">
SELECT fileNo,esNo,originFileName,storedFileName,fileSize,writer,regDate,modDate,delDate,deleteYn
FROM estatefile
WHERE 1=1
	AND deleteYn='N'
	AND esNo=#{esNo}
</select>

<insert id="insertCarRegist">
Insert Into car (carWriter,carPrice,carType,carManuFacturing,carModel,carRank,carDetailRank,carDiffDate,carRegDate
			,carDistance,carDisplaceMent,carFuel,carTransMission,carAccidentCnt,carSpecialUseYn
			,carChangeCnt,carOption1,carOption2,carOption3,carAdditionInfo,carIntro,carLoc)
	values (#{carWriter},#{carPrice},#{carType},#{carManuFacturing},#{carModel},#{carRank},#{carDetailRank},#{carDiffDate},#{carRegDate},
			#{carDistance},#{carDisplaceMent},#{carFuel},#{carTransMission},#{carAccidentCnt},#{carSpecialUseYn},
			#{carChangeCnt},#{carOption1},#{carOption2},#{carOption3},#{carAdditionInfo},#{carIntro},#{carLoc})
</insert>
<insert id="insertCarFile">
Insert Into carFile (writer,carNo,originFileName,storedFileName,fileSize)
			values (#{writer},( SELECT IFNULL(max(carNo)+1,1) FROM car  ) , #{originFileName},#{storedFileName},#{fileSize})
</insert>
<select id="selectCarList" resultType="com.dailyMarket.www.vo.CarVO">
SELECT carNo,carWriter,carPrice,carTradeYn,carUserId,carType,carManuFacturing,carModel
		,carRank,carDetailRank,carDiffDate,carRegDate,carDistance,carDisplaceMent
		,carFuel,carTransMission,carAccidentCnt,carSpecialUseYn,carChangeCnt
		,carOption1,carOPtion2,carOption3,carAdditionInfo,carIntro,carLoc
		,regDate,modDate,delDate,deleteYn
		
FROM car 
WHERE deleteYn='N'
</select>
<select id="selectCarFile"  resultType="com.dailyMarket.www.vo.CarFileVO" >
SELECT fileNo,carNo,writer,originFileName,storedFileName,fileSize,regDate,modDate,delDate,deleteYn
FROM carFile
WHERE deleteYn='N'
</select>
<select id="selectCarVO" resultType="com.dailyMarket.www.vo.CarVO">
SELECT carNo,carWriter,carPrice,carTradeYn,carUserId,carType,carManuFacturing,carModel
		,carRank,carDetailRank,carDiffDate,carRegDate,carDistance,carDisplaceMent
		,carFuel,carTransMission,carAccidentCnt,carSpecialUseYn,carChangeCnt
		,carOption1,carOPtion2,carOption3,carAdditionInfo,carIntro,carLoc
		,regDate,modDate,delDate,deleteYn
		
FROM car 
WHERE deleteYn='N'
	And carNo=#{carNo}
</select>

<select id="selectJobList" resultType="com.dailyMarket.www.vo.JobVO">
SELECT jobNo,jobWriter,jobCompany,jobTitle,jobType,jobMoney,jobLoc,jobLocDetail,jobWorkTime,jobLocContent,jobContent,
			regDate,modDate,delDate,deleteYn
FROM job
WHERE deleteYn='N'
</select>
<select id="selectJobFile" resultType="com.dailyMarket.www.vo.JobFileVO">
SELECT fileNo,jobNo,originFileName,storedFileName,fileSize,writer,regDate,modDate,delDate,deleteYn
FROM jobFile
WHERE deleteYN='N'
</select>
<select id="selectJobByNo" resultType="com.dailyMarket.www.vo.JobVO">
SELECT jobNo,jobWriter,jobCompany,jobTitle,jobType,jobMoney,jobLoc,jobLocDetail,jobWorkDate,jobWorkTime,jobLocContent,jobContent,
			regDate,modDate,delDate,deleteYn,
			TIMESTAMPDIFF(MINUTE,regDate,NOW()) regMinute,TIMESTAMPDIFF(HOUR,regDate,NOW()) regHour ,TIMESTAMPDIFF(DAY ,regDate,NOW()) regDay ,
			TIMESTAMPDIFF(WEEK ,regDate,NOW())regWeek , TIMESTAMPDIFF(MONTH	,regDate,NOW())regMonth , TIMESTAMPDIFF(YEAR ,regDate,NOW())  regYear
FROM job
WHERE deleteYn='N'
And jobNo=#{jobNo}
</select>

<select id="selectCompanyNoticeList" resultType="com.dailyMarket.www.vo.BusiNoticeVO"> 
SELECT busiNoticeNo,busiNo,title,subTitle,content,subContent,regDate,modDate,delDate,deleteYn
FROM busiNotice
WHERE writer=#{writer}
AND deleteYn='N'
</select>
<select id="selectCompanyNoticeFile" resultType="com.dailyMarket.www.vo.BusiNoticeFileVO">
SELECT fileNo,busiNoticeNo,originFileName,storedFileName,fileSize,writer,regDate,modDate,delDate,deleteYn
FROM busiNoticeFile
WHERE writer=#{writer}
AND deleteYn='N'
</select>

<select id="selectCompanyNoticeByNO" resultType="com.dailyMarket.www.vo.BusiNoticeVO"> 
SELECT busiNoticeNo,busiNo,title,subTitle,content,subContent,regDate,modDate,delDate,deleteYn
FROM busiNotice
WHERE busiNoticeNo=#{busiNoticeNo}
AND deleteYn='N'
</select>
<select id="selectCompanyNoticeFileByNo" resultType="com.dailyMarket.www.vo.BusiNoticeFileVO">
SELECT fileNo,busiNoticeNo,originFileName,storedFileName,fileSize,writer,regDate,modDate,delDate,deleteYn
FROM busiNoticeFile
WHERE busiNoticeNo=#{busiNoticeNo}
AND deleteYn='N'
</select>


<insert id="insertCompanyReview">
Insert into busiReview (busiNo,title,content,writer)
	values(#{busiNo},#{title},#{content},#{writer})
</insert>

<insert id="insertCompanyReviewFile">
Insert into busiReviewFile (busiReviewNo, originFileName,storedFileName,fileSize,writer)
	values( (SELECT IFNULL(max(busiReviewNo),1) FROM busiReview ) ,   #{originFileName},#{storedFileName},#{fileSize},#{writer})
</insert>

<select id="selectCompanyReviewList" resultType="com.dailyMarket.www.vo.BusiReviewVO">
SELECT a.busiReviewNo,a.busiNo,a.title,a.content,a.writer,a.regDate,a.modDate,a.delDate,a.deleteYn
		,b.storedFileName
		,c.busiName
		,d.userAddr1
From busireview a
INNER JOIN busireviewfile b
ON a.busiReviewNo = b.busiReviewNo
INNER JOIN busi c
ON a.busiNo =c.busiNo
INNER JOIN user d
ON a.writer = d.userId
GROUP BY busiReviewNo
ORDER BY hitCnt DESC 
</select>

<select id="selectCompanyReviewByBusiNo" resultType="com.dailyMarket.www.vo.BusiReviewVO">
SELECT a.busiReviewNo,a.busiNo,a.title,a.content,a.writer,a.regDate,a.modDate,a.delDate,a.deleteYn,max(a.hitCnt) as hitCnt
		 ,TIMESTAMPDIFF(MINUTE, a.regDate,NOW()) regMinute,TIMESTAMPDIFF(HOUR, a.regDate,NOW()) regHour,TIMESTAMPDIFF(DAY , a.regDate,NOW()) regDay
		 ,TIMESTAMPDIFF(WEEK  , a.regDate,NOW()) regWeek,TIMESTAMPDIFF(MONTH  , a.regDate,NOW()) regMonth,TIMESTAMPDIFF(YEAR, a.regDate,NOW()) regYear
		,b.storedFileName
		,c.busiName
		,d.userAddr1
From busireview a
INNER JOIN busireviewfile b
ON a.busiReviewNo = b.busiReviewNo
INNER JOIN busi c
ON a.busiNo =c.busiNo
INNER JOIN user d
ON a.writer = d.userId
WHERE a.busiNo = #{busiNo}
GROUP BY busiReviewNo
</select>

<select id="selectCompanyReviewListByBusiNo" resultType="com.dailyMarket.www.vo.BusiReviewVO">
SELECT a.busiReviewNo,a.busiNo,a.title,a.content,a.writer,a.regDate,a.modDate,a.delDate,a.deleteYn, hitCnt
		 ,TIMESTAMPDIFF(MINUTE, a.regDate,NOW()) regMinute,TIMESTAMPDIFF(HOUR, a.regDate,NOW()) regHour,TIMESTAMPDIFF(DAY , a.regDate,NOW()) regDay
		 ,TIMESTAMPDIFF(WEEK  , a.regDate,NOW()) regWeek,TIMESTAMPDIFF(MONTH  , a.regDate,NOW()) regMonth,TIMESTAMPDIFF(YEAR, a.regDate,NOW()) regYear
		,b.busiName
		,c.userAddr1
From busireview a
INNER JOIN busi b
ON a.busiNo =b.busiNo
INNER JOIN user c
ON a.writer = c.userId
WHERE a.busiNo = #{busiNo}
AND a.deleteYn='N'
</select>
<select id="selectCompanyReviewFileByBusiViewNo" resultType="com.dailyMarket.www.vo.BusiReviewFileVO">
SELECT fileNo,busiReviewNo,originFileName,storedFileName,fileSize,writer,regDate,modDate,delDate,deleteYn
FROM busiReviewFile
WHERE busiReviewNo = #{busiReviewNo}
AND deleteYn='N'
</select>

<insert id="insertUserJob">
Insert into userJob (writer,lastName,firstName,tel,gender,birthYear
					,careerYn,careerLoc,careerWork,careerYear,careerDiff,advantage,introduce,addInfo)
		values (#{writer},#{lastName},#{firstName},#{tel},#{gender},#{birthYear}
				,#{careerYn},#{careerLoc},#{careerWork},#{careerYear},#{careerDiff},#{advantage},#{introduce},#{addInfo})
</insert>
<insert id="insertUserJobFile">
Insert Into userJobFile ( userJobNo,originFileName,storedFileName,fileSize,writer )
	values ( (select IFNULL(max(userJobNo),1) from userJob   ) , #{originFileName}, #{storedFileName}, #{fileSize}, #{writer}   )
</insert>
<select id="selectUserJobByWriter" resultType="com.dailyMarket.www.vo.UserJobVO">
SELECT a.userJobNo,a.writer,a.lastName,a.firstName,a.tel,a.gender,a.birthYear,a.careerYn,a.careerLoc,a.careerWork,a.careerYear,a.careerDiff
		,a.advantage,a.introduce,a.addInfo,a.regDate,a.modDate,a.delDate,a.deleteYn
		,b.storedFIleName
FROM userjob a
INNER JOIN userjobfile b
ON a.userJobNo =b.userJobNo
WHERE a.writer = #{writer}
AND a.deleteYn ='N'
AND b.deleteYn ='N'
</select>
<update id="updateUserJob">
UPDATE userJob set writer=#{writer},lastName=#{lastName},firstName=#{firstName},tel=#{tel},gender=#{gender},birthYear=#{birthYear}
				,careerYn=#{careerYn},careerLoc=#{careerLoc},careerWork=#{careerWork},careerYear=#{careerYear},careerDiff=#{careerDiff}
				,advantage=#{advantage},introduce=#{introduce},addInfo=#{addInfo}
	WHERE writer =#{writer}
</update>
<update id="updateUserJobFile">
UPDATE userJobFile set delDate = now(), deleteYn='Y'
WHERE fileNo != (SELECT MAX(fileNo) AS fileNo FROM userjobfile)
</update>
<update id="deleteUserJob">
UPDATE userJob set delDate = now() ,deleteYn='Y'
	WHERE writer=#{writer}
</update>
<update id="deleteUserJobFile">
UPDATE userJobFile set delDate = now() ,deleteYn='Y'
	WHERE writer=#{writer}
</update>
<select id="selectUserJobWrtieYn" resultType="int">
SELECT COUNT(userJobNo)
FROM userjob
WHERE writer =#{writer}
</select>

<!-- 알바 지원 -->
<insert id="insertGetUserJob">
Insert Into getUserJob (jobNo,userId,status)
	Values (#{jobNo},#{userId},'S')	
</insert>
<!-- 로그인한 사용자가 해당 업체에 지원했는지 여부 -->
<select id="selectGetUserJobYn" resultType="int">
SELECT COUNT(getUserJobNo)
FROM getUserJob
WHERE userId = #{uesrId}
</select>


</mapper>
